/* 1. INITIAL SETTINGS */
.pun table,.pun div,.pun form,.pun p,.pun h1,.pun h2,.pun h3,.pun h4,.pun pre,.pun blockquote,.pun ul,.pun ol,.pun li,.pun dl,.pun dt,.pun dd,.pun th,.pun td,.pun fieldset,.pun img{margin:0;padding:0;font-weight:400;list-style:none}
.pun img{border:none}
.pun input,.pun select,.pun textarea,.pun optgroup{margin:0}
/* 2. STRUCTURAL SETTINGS - VERY IMPORTANT - DO NOT CHANGE */
/* 2.1 Clearing floats and invisible items */
.pun .clearer,.pun .nosize{height:0;width:0;line-height:0;font-size:0;overflow:hidden}
.pun .clearer,.pun .clearb{clear:both}
.pun .nosize{position:absolute;left:-10000px}
/* 2.2 Overflow settings for posts */
div.blockpost div.box,div.postleft,div.postsignature,div.postmsg{overflow:hidden}
div.blockpost span.conr a{margin-right:3px}
/* 3. BUG FIXES - VERY IMPORTANT - DO NOT CHANGE */
/* 3.1 This attempts to eliminate rounding errors in Gecko browsers. */
div>div>div.postfootleft,div>div>div.postfootright{padding-top:1px;margin-top:-1px}
/* 3.2 This is only visible to IE6 Windows and cures various bugs. Do not alter comments */
/* Begin IE6Win Fix */
* html .inbox,* html .inform,* html .pun,* html .intd,* html .tclcon{height:1px}
* html .inbox div.postmsg{width:98%}
/* End of IE6Win Fix */
/* 3.3 This is the equivelant of 3.2 but for IE7. It is visible to other browsers
but does no harm */
/*Begin IE7Win Fix */
.pun,.pun .inbox,.pun .inform,.pun .intd,.pun .tclcon{min-height:1px}
/* End of IE7Win Fix */
/* 4. HIDDEN ELEMENTS */
/* These are hidden in normal display. Add comments to make them visible */
#brdfooter h2,#brdstats h2,#brdstats .conl dt,#brdstats .conr dt,#modcontrols dt,#searchlinks dt,div.postright h3{position:absolute;display:block;overflow:hidden;width:1em;left:-999em}
/* 5. BOX CONTAINERS AND FLOATS */
/* 5.1. Setup all left and right content using floats. */
.conr{float:right;text-align:right;clear:right;width:40%;padding:0}
.conl{float:left;width:60%;white-space:nowrap}
label.conl{width:auto;overflow:visible;margin-right:10px}
/* 5.2 Set up page numbering and posts links */
div.linkst .conl,div.linksb .conl,div.postlinksb .conl{width:18em}
div.linkst .conr,div.linksb .conr,div.postlinksb .conr{width:auto;padding-left:10px}
div.linkst ul{margin:0 0 0 18em}
form div.linksb .conr{width:32em}
/* 5.3 Settings for Profile and Admin interface.*/
div.block2col{padding-bottom:1px}
div.block2col div.blockform,div.block2col div.block,#viewprofile dd{margin-left:17em}
div.blockmenu,#viewprofile dt{float:left;width:16em}
#profileavatar img{float:right;margin-left:1em}
#viewprofile dl{float:left;width:100%;overflow:hidden}
/* 6. TABLE SETUP */
/* 6.1 Table Basic Setup */
.pun table{width:100%}
/* 6.2 Fixed Table Setup */
#punindex table,#vf table{table-layout:fixed}
.tcl{text-align:left;width:50%}
.tc2,.tc3,.tc4,.tcmod{width:9%;text-align:center}
.tcr{width:28%;text-align:left}
#punsearch #vf .tcl,#punmoderate #vf .tcl{width:41%}
#punsearch #vf .tc2{width:18%;text-align:left}
.tcl,.tcr{overflow:HIDDEN}
/* 6.3 Other Table Setup */
#users1 .tcl{width:40%}
#users1 .tcr{width:25%}
#users1 .tc2{width:25%;text-align:left}
#users1 .tc3{width:10%;text-align:center}
#debug .tcr{width:85%;white-space:normal}
#punindex td.tcr span.byuser{display:block}
/* 7. VIEWTOPIC SETUP */
/* 7.1 This is the basic structure. */
div.postleft,div.postfootleft{float:left;width:18em;overflow:hidden;position:relative}
div.postright,div.postfootright{border-left-width:18em;border-left-style:solid}
div.postfootright,p.multidelete{text-align:right}
div.blockpost>div>div.inbox{padding-bottom:1px}
/* 7.3 This is the div which actually contains the post and is inside .postright */
div.postmsg{width:100%}
/* 7.4 These items control overflow and scrolling within posts. */
div.incqbox{width:100%;overflow:hidden}
div.scrollbox{width:100%;overflow:auto}
img.postimg{max-width:100%}
a .postimg{max-width:100%}
/* 7.5 Turn off the poster information column for preview */
#postpreview div.postright{border-left:none}
/* 7.6 Create the horizontal line above signatures */
div.postsignature hr{margin-left:0;width:200px;text-align:left;height:1px;border:none}
/* 7.7 Maximum height for search results as posts. Position go to post link */
/*DIV.searchposts DIV.postmsg {HEIGHT: 8em}*/
div.searchposts dd p{padding-top:3em}
/* 7.8 Class for bbcode [u] */
span.bbu{text-decoration:underline}
/* 8. LISTS SPECIAL SETTINGS */
/* 8.1 Horizontal display of online list, main navigation menu and breadcrumbs */
#onlinelist dd,#onlinelist dt,#brdmenu li,div.linkst li,div.linksb li,div.postlinksb li,div.postfootright li,ul.bblinks li{display:inline;height:0}
div.linkst div.inbox ul,div.postlinksb div.inbox ul{overflow:hidden}
/* 8.2 Turn on square icon for posterror list */
#posterror ul li{list-style:square inside}
/* 8.3 Right alignment of descriptions in ordinary member view of other members profiles */
#viewprofile dt{text-align:right}
/* 9. FORM SETTINGS */
/* 9.1 Makes textareas and long text inputs shrink with page */
div.txtarea{width:100%}
div.txtarea textarea,input.longinput{width:100%;max-width:100%}
.pun label{display:block}
#qjump select{width:50%}
/* 10.1 Put some space between sections of the help file */
#helpfile h2{margin-top:12px}
/* 10.2 Internal padding */
#helpfile div.box{padding:10px}
/* 10.3 Other templates */
#punredirect div.block,#punmaint div.block{margin:50px 20% 12px}
/* 11. ADDITIONAL STYLES */
/* 11.1 Styles for top menu */
div.top-menu{width:100%;margin:5px 0}
div.top-menu div.projects a{margin:0 3px}
div.projects{float:left}
/* 11.2 Top menu links */
div.projects a{font-size:90%}
/* 11.3 Top menu search form */
div.search{text-align:right}
form input#search-input{font-size:85%;padding:2px;width:170px}
form input#search-submit{font-size:85%;font-weight:700;padding:1px 4px}
form input#qlogin-username,form input#qlogin-password{font-size:85%;padding:2px}
form input#qlogin-submit{font-size:85%;padding:1px 4px}
/* 11.4 User agent mod */
.useragent span{font-family:"Georgia", verdana, sans-serif;font-weight:400}
.useragent img{margin-bottom:-4px}
/* 11.5 Misc */
.bbincrement{float:right}
img.smileyimg,img.browserimg{margin:2px 1px -4px}
.pun ul.list,.pun ol.list,.pun ul.list[type="circle"]>li{margin:0 30px 0}
.pun ul.list>li,.pun ol.list>li{padding:5px 0}
.pun ul.list[type="disc"]>li{list-style-type:disc}
.pun ul.list[type="circle"]>li{list-style-type:circle}
.pun ol.list[type="A"]>li{list-style-type:upper-latin}
.pun ol.list[type="1"]>li{list-style-type:decimal}
div.noindex{opacity:0.7}
div.spoiler div.noindex:only-child,div.noindex div.spoiler:only-child{margin:0}
/* 11.6 Google Search */
#google-results{padding:10px 0}
#google-results .gsc-resultsHeader,#google-results .gs-result .gs-visibleUrl,#google-results .gs-result .gs-watermark{display:none}
#google-results .gs-result{padding:0 0 8px}
#google-results .gsc-cursor-box{text-align:right}
#google-results .gsc-cursor-box .gsc-cursor:before{content:"Страницы: "}
#google-results .gsc-cursor-box .gsc-cursor-page{display:inline;margin:3px;cursor:pointer}
#google-results .gsc-cursor-box .gsc-cursor-current-page{font-weight:bold}
#google-results .gs-no-results-result{padding:3px}
