/* 1. BACKGROUND AND TEXT COLOURS */
/* 1.1 Default background colour and text colour */
body{background:url('../img/Mozilla-ru/pun_body_bg.gif') repeat-x top #FFF}
.pun{color:#333}
div.box,.pun blockquote,div.codebox,#adminconsole fieldset th,.rowodd,.roweven,div.spoiler{background-color:#f4f6f9}
#adminconsole td,#adminconsole th{border-color:#F1F1F1}
/* 1. 2 Darker background colours */
td.tc2,td.tc3,td.tc4,td.tcmod,#postpreview,#viewprofile dd,div.forminfo,#adminconsole fieldset td,div.blockmenu div.box,#adstats dd{background-color:#b5c7d8}
/* 1.3 Main headers and navigation bar background and text colour */
.pun h2{background:url('../img/Mozilla-ru/pun_h2_left_bg.png') no-repeat left top #3c6a97;color:#FFF;font-weight:700}
#brdmenu{background:url('../img/Mozilla-ru/pun_menu_bg.png') repeat-x top right #df731b}
#ajaxpostpreview #postpreview h2 span,#postpreview h2 span,.inform h2 span,.blockform h2 span,.blocktable h2 span,.block h2 span,.blockmenu h2 span{background:url('../img/Mozilla-ru/pun_h2_right_bg.png') no-repeat right top transparent;display:block;color:#FFF;width:100%;text-align:left;margin:-4px -6px;padding:4px 6px}
/* 1.4 Table header rows */
.pun th{background-color:#d2dde7}
/* 1.5 Fieldset legend text colour */
.pun legend{color:#005CB1}
/* 1.6 Highlighted text for various items */
.pun div.blockmenu li.isactive a,#posterror li strong{color:#333}
/* 2. POST BACKGROUNDS AND TEXT */
/* 2.1 This is the setup for posts. */
div.blockpost div.box,div.postright,div.postfootright{background-color:#fff}
div.postright,div.postfootright{border-left-color:#f4f6f9}
div.postleft,div.postfootleft,div.blockpost label{background-color:#f4f6f9}
/* 2.2 Background for post headers and text colour for post numbers in viewtopic */
div.blockpost h2{background:url('../img/Mozilla-ru/pun_h2_left_bg.png') no-repeat top left #245889}
div.blockpost h2 span.conr{color:#FFF;background:url('../img/Mozilla-ru/pun_h2_conr_bg.png') no-repeat right top;margin:-4px -6px;padding:4px 6px;font-weight:400}
/* 2.3 This is the line above the signature in posts. Colour and background should be the same */
.pun hr{background-color:#333;color:#333}
/* 3. BORDER COLOURS */
/* 3.1 All external borders */
div.box{border-color:#688baf}
/* add Ragnaar */
/* 3.2 Makes the top border of posts match the colour used for post headers */
div.blockpost div.box,#brdwelcome{border-color:#688baf}
/* 3.3 Table internal borders. By default TH is same as background so border is invisible */
.pun td{border-color:#fff}
.pun th{border-color:#fff}
/* 3.4 Creates the inset border for quote boxes, code boxes and form info boxes */
.pun blockquote,div.codebox,div.forminfo,div.blockpost label{border-color:#b4c6d7 #dfe6ee #dfe6ee #b4c6d7}
div.spoiler{border-color:#dfe6ee #b4c6d7 #b4c6d7 #dfe6ee}
/* 3.5 Gecko's default fieldset borders are really nasty so this gives them a colour
without interferring with IE's rather nice default */
.pun div>fieldset{border-color:#b4c6d7}
/* 4. LINK COLOURS */
/* 4.1 This is the default for all links */
.pun a:link,.pun a:visited{color:#005CB1}
.pun a:hover{color:#B42000}
/* 4.2 This is the colour for links in header rows and the navigation bar */
.pun h2 a:link,.pun h2 a:visited{color:#FFF}
.pun h2 a:hover{color:#FFF}
#brdmenu a:link,#brdmenu a:visited{color:#FFF}
#brdmenu a:hover{color:#FFF}
/* 4.3 This is for closed topics and "hot" links */
li.postreport a:link,li.postreport a:visited,tr.iclosed td.tcl a:link,tr.iclosed td.tcl a:visited{color:#888}
li.postreport a:hover,tr.iclosed td.tcl a:hover{color:#AAA}
li.maintenancelink a:link,li.maintenancelink a:visited{color:#B42000}
li.maintenancelink a:hover{color:#B42000}
li.pmlink a:link,li.pmlink a:hover,li.pmlink a:visited{color:red!important}
/* 5. POST STATUS INDICATORS */
/* These are the post status indicators which appear at the left of some tables. */
div.icon{background:url('../img/Mozilla-ru/pun_icon_unactive.png') no-repeat #B5C7D8}
tr.inew{background-color:#f4d9c3}
tr.inew td.tc2,tr.inew td.tc3,tr.inew td.tc4{background-color:#e8b082}
tr.inew div.icon,.intd div.inew{background:url('../img/Mozilla-ru/pun_icon_active.png') no-repeat #e8b082}
tr.iclosed{background-color:#eee6e3}
tr.iclosed td.tc2,tr.iclosed td.tc3,tr.iclosed td.tc4{background-color:#d0c9c6}
tr.iclosed div.icon{background:url('../img/Mozilla-ru/pun_icon_close.png') no-repeat #d0c9c6}
tr.isticky{background-color:#ffe2db}
tr.isticky td.tc2,tr.isticky td.tc3,tr.isticky td.tc4{background-color:#ffb6a4}
tr.isticky div.icon{background:url('../img/Mozilla-ru/pun_icon_sticky.png') no-repeat #ffb6a4}
tr.iredirect div.icon{background:url('../img/Mozilla-ru/pun_icon_redirect.png') no-repeat #B5C7D8}
/* 11. ADDITIONAL STYLES */
/* 11.2 Top menu links */
div.top-menu{margin:7px 0}
div.projects a:link,div.projects a:visited{color:#888}
div.projects a:hover{color:#333;text-decoration:underline}
/* 11.3 Top menu search form */
form input#search-input{background-color:#EAEAEA;border:1px solid #577FA5}
form input#search-input:focus,form input#search-input:hover{background:#fff}
form input#search-submit{background-color:#2A5D8D;border-bottom:1px solid #08447b;border-left:1px solid #527CA2;border-right:1px solid #08447b;border-top:1px solid #527CA2;color:#fff}
/* 6. MISC */
/* Spoiler */
div.spoiler div.spoiler-plus,div.spoiler div.spoiler-minus{padding:0 0 0 14px;cursor:pointer;font-weight:700}
div.spoiler div.spoiler-plus{background:url(./../../img/plus.png) no-repeat 2px 4px}
div.spoiler div.spoiler-minus{background:url(./../../img/minus.png) no-repeat 2px 4px}
div.spoiler div.spoiler-body{display:none;border-top:1px solid gray;padding:8px 0 0;margin:10px 0 0}
