.all {
  font: 80% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background-color: #2A2A2A;
  color: #D4D4D4;
  margin: 0;
  padding: 0;
}

.all div.clearer {clear: both; line-height: 0; height: 0;}

.all table {
  font-size: 100%;
  padding:0;
  margin:0;
}

.all tr,.all td,.all th {padding:0; margin:0;}

.all img {border:0}

.all p {padding:0; margin: 0 0 1.0em 0;}

.all hr {
  border: 0px;
  border-top: 1px solid #60C860;
  text-align:center;
  height: 0px;
}

.all form {
  border: none;
  margin: 0;
  display: inline;
}

.all label {
  display: block;
  text-align: right;
  font-weight: bold;
}

.all label.simple {
  text-align: left;
  font-weight: normal;
}

.all label input.edit {
  width: 50%;
}

.all fieldset {
  width: 300px;
  text-align: center;
  border: 1px solid #565656;
  padding: 0.5em;
}


.all a {
  color:#60C860;
  text-decoration:none;
}
.all a:hover {
  color:#FFFFFF;
  text-decoration:underline;
}

.all textarea.edit {
  font-family:monospace;
  border: 1px solid #565656;  
  color: #D4D4D4;
  background-color: #383838;
  font-size:14px;
  padding: 3px;
  width:100%;
}

.all input.edit {
  font-size: 100%;
  border: 1px solid #565656;
  height: 22px ! important;
  max-height: 22px ! important;
  min-height: 22px ! important;
  color: #D4D4D4;
  background-color: #383838;
  vertical-align: middle;
  padding: 1px;
  display: inline;
}

.all input.missing {
  font-size: 100%;
  border: 1px solid #565656;
  height: 22px ! important;
  max-height: 22px ! important;
  min-height: 22px ! important;
  color: #D4D4D4;
  background-color: #383838;
  vertical-align: middle;
  padding: 1px;
  display: inline;
}

.all input.button {
  border: 1px solid #565656;  
  color: #D4D4D4;
  background-color: #383838;
  vertical-align: middle;
  text-decoration:none;
  font-size: 100%;
  cursor: pointer;
  height: 22px ! important;
  max-height: 22px ! important;
  min-height: 22px ! important;
  margin: 1px;
  display: inline;
}

.all div.secedit input.button {
  border: 1px solid #565656;
  color: #D4D4D4;
  background-color: #383838;
  vertical-align: middle;
  text-decoration:none;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  cursor: pointer;
  height: 15px;
  max-height: 15px ! important;
  min-height: 15px ! important;
  float:right;
  display: inline;
}

.all div.meta {
  clear: both;
  margin-top: 1em;
  color:#60C860;
  font-size:70%;
  text-align:right;
}

.all div.user {
  float:left;
}

.all div.preview{
  background:#383838;
  margin-left:2em;
  padding: 4px;
  border: 1px dashed #FFFFFF;
}

.all div.breadcrumbs{
  background-color: #565656;
  font-size:80%;
  color: #D4D4D4;
  padding-left: 4px;
}

.all span.user{
  color: #cccccc;
  font-size: 90%;
}

.all div.error{
  background: #ff6666 url(../../wiki/images/error.png) 0.5em 0px no-repeat;
  font-size: 90%;
  margin: 0px;
  padding-left: 3em;
}

.all div.info{
  background: #ffff66 url(../../wiki/images/info.png) 0.5em 0px no-repeat;
  font-size: 90%;
  margin: 0;
  padding-left: 3em;
}

.all div.success{
  background: #66ff66 url(../../wiki/images/thumbup.gif) 0.5em 0px no-repeat;
  font-size: 90%;
  margin: 0;
  padding-left: 3em;
}

/* ---------------------------- Diff rendering --------------------------*/
.all table.diff { background: #2A2A2A; }
.all td.diff-blockheader {font-weight:bold}
.all td.diff-header {
  border-bottom: 1px solid #565656;
  font-size:120%;
}
.all td.diff-addedline {
    background:#2A522A;
    font-family: monospace;
    font-size: 100%;
}
.all td.diff-deletedline { 
    background:#6A5B28;
    font-family: monospace;    
    font-size: 100%;
}
.all td.diff-context {
    background:#383838;
    font-family: monospace;
    font-size: 100%;
}
.all span.diffchange { color: red; }



/* --------------------- Text formatting -------------------------------- */

/* external link */
.all a.urlextern{
    background: transparent url(../../wiki/images/link_icon.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    color:#60C860;
    text-decoration:none;
}
.all a.urlextern:visited {
  color:#C000C0;
}
.all a.urlextern:hover {
  text-decoration:underline;
}

/* windows share */
.all a.windows{
    background: transparent url(../../wiki/images/windows.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    color:#60C860;
    text-decoration:none;
} 
.all a.windows:visited {
  color:#C000C0;
}
.all a.windows:hover { 
  text-decoration:underline;
}

/* interwiki link */
.all a.interwiki{
    background: transparent url(../../wiki/images/interwiki.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    color:#60C860;
    text-decoration:none;
}
.all a.interwiki:visited {
  color:#C000C0;
}
.all a.interwiki:hover {
  text-decoration:underline;
}

/* link to some embedded media */
.all a.media {
  color:#60C860;
  text-decoration:none;
}
.all a.media:hover {
  color:#60C860;
  text-decoration:underline
}

/* embedded images */
.all img.media {
  margin: 3px;
}

.all img.medialeft {
  border: 0;
  float: left;
  margin: 0 1.5em 0 0;
}

.all img.mediaright {
  border: 0;
  float: right;
  margin: 0 0 0 1.5em;
}

/* email link */
.all a.mail {
  background: transparent url(../../wiki/images/mail_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
  color:#60C860;
  text-decoration:none;
}
.all a.mail:hover {
  text-decoration:underline;
}

/* existing wikipage */
.all a.wikilink1:link    { color:#009900; text-decoration:none }
.all a.wikilink1:visited { color:#009900; text-decoration:none }
.all a.wikilink1:hover   { color:#009900; text-decoration:underline }

/* not exisitng wikipage */
.all a.wikilink2:link    { color:#FF3300; text-decoration:none }
.all a.wikilink2:visited { color:#FF3300; text-decoration:none }
.all a.wikilink2:hover   { color:#FF3300; text-decoration:underline }

.all acronym {
  cursor: help;
  border-bottom: 1px dotted #000;
}

/* the document */
.all div.page {
  margin-top: 4px;
  margin-left:  1em;
  margin-right: 2em;
  text-align: justify;
}

/* general headline setup */
.all h1, .all h2, .all h3, .all h4, .all h5 {
    color: #D4D4D4;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-left:    0;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
    border-bottom: 1px solid #60C860;
    clear: left;
}

/* special headlines */
.all h1 {font-size: 160%; margin-left: 0px; font-weight: bold;}
.all h2 {font-size: 150%; margin-left: 20px;}
.all h3 {font-size: 140%; margin-left: 40px; border-bottom: none; font-weight: bold;}
.all h4 {font-size: 120%; margin-left: 60px; border-bottom: none; font-weight: bold;}
.all h5 {font-size: 100%; margin-left: 80px; border-bottom: none; font-weight: bold;}

/* indent different sections */
.all div.level1 {margin-left: 3px;}
.all div.level2 {margin-left: 23px;}
.all div.level3 {margin-left: 43px;}
.all div.level4 {margin-left: 63px;}
.all div.level5 {margin-left: 83px;}

/* unordered lists */
.all ul { 
  line-height: 1.5em;
  list-style-type: square;
  margin: 0.5em 0 0.5em 1.5em;
  padding: 0;
  list-style-image: url(../../wiki/images/bullet.gif);
}

/* ordered lists */
.all ol {
  line-height: 1.5em;
  margin: 0.5em 0 0.5em 1.5em;
  padding: 0;
  color: #638c9c;
  font-weight: bold;
  list-style-image: none;
}

/* the list items overriding the ol definition */
.all span.li {
  color: #FFFFFF;
  font-weight: normal;
}

.all li.open {
  list-style-image: url(../../wiki/images/open.gif);
}

.all li.closed {
  list-style-image: url(../../wiki/images/closed.gif);
}

.all .quote {
  border-left: 2px solid #565656;
  padding-left: 3px;
}

/* code blocks by indention */
.all pre.pre {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #60C860;
  color: White;
  background-color: #383838;
  overflow: auto;
}

/* code blocks by code tag */
.all pre.code {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #60C860;
  color: White;
  background-color: #383838;
  overflow: auto;
}

/* code highlighting is at bottom of file */

/* inline code words */
.all code {
  font-size: 120%;
}

/* code blocks by file tag */
.all pre.file {
  font-size: 120%;
  padding: 0.5em;
  border: 1px dashed #60C860;
  color: White;
  background-color: #565656;
  overflow: auto;
}

/* footnotes */
.all div.footnotes{
  clear:both;
  border-top: 1px solid #60C860;
  padding-left: 1em;
  margin-top: 1em;
}

.all div.fn{
  font-size:90%;
}

.all a.fn_top{
  vertical-align:super;
  font-size:80%;
}

.all a.fn_bot{
  vertical-align:super;
  font-size:80%;
  font-weight:bold;
}

/* inline tables */
.all table.inline {
  background-color: #383838;
  border-spacing: 0px;
  border-collapse: collapse;
}

.all table.inline th {
  padding: 3px;
  border: 1px solid #565656;
  background-color: #565656;
}

.all table.inline td {
  padding: 3px;
  border: 1px solid #565656;
}

.all .leftalign{
  text-align: left;
}

.all .centeralign{
  text-align: center;
}

.all .rightalign{
  text-align: right;
}

/* ---------- table of contents ------------------- */

.all div.toc {
  margin-left: 2em;
  margin-top: 1.2em;
  margin-bottom: 0;
  float:right;
  width: 200px;
  font-size: 80%;
  clear:both;
}

.all div.tocheader {
  padding: 3px;
  border: 1px solid #565656;
  background-color: #565656;
  text-align: left;
  font-weight:bold;
  margin-bottom: 2px;
}

.all #tocinside {
  border: 1px solid #565656;
  background-color: #383838;
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
}

.all ul.toc {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.all ul.toc li {
  background: transparent url(../../wiki/images/tocdot2.gif) 0 0.6em no-repeat;
  padding-left:0.4em;
}

.all ul.toc li.clear {
/*  background: transparent url(images/blank.gif) 0 0.6em no-repeat;*/
  background-image: none;
  padding-left:0.4em;
}

.all a.toc {
  color: #60C860;
  text-decoration:none;
}

.all a.toc:hover {
  color: #FFFFF;
  text-decoration:underline; 
}

/* --------------- search result formating --------------- */
.all .search_result{
  margin-bottom: 6px;
  padding-left: 30px;
  padding-right: 10px;
}

.all .search_snippet{
  color: #999999;
  font-size: 12px;
  margin-left: 20px;
}

.all .search_sep{
  color: #FFFFFF;
}

.all .search_hit{
  color: #FFFFFF;
  background: #FFFF99;
}

.all div.search_quickresult{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #60C860;
  margin-left: 30px;
  padding-right: 10px;
}

.all div.search_quickhits {
  margin-left: 1em;
  float:left;
  background: transparent url(../../wiki/images/bullet.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 8px;
  width: 30%;
}

/* debug */
.all pre.dbg{
  background-color:#383838;
  font-size: 120%;
}

/* Tableless Headers and Footers */
/* Thanks to "moraes" <moraes@tipos.com.br> */

.all .header {
	height:35px;
	padding:3px 0 2px 2px;
}

.all .pagename {
	height:25px;
	float:left;
	font-size:200%;
	font-weight:bolder;
	color:#565656;
	text-align:left;
	vertical-align:middle;
	padding:1px 0 0 1px;
}

.all .pagename a:link, .all .pagename a:visited {
  color:#60C860;
  text-decoration:none;
}

.all .pagename a:hover, .all .pagename a:active {
  color:#FF9933;
}

.all .logo {
	float:right;
	font-size:220%;
	font-weight:bolder;
	text-align:right;
	vertical-align:middle;
}

.all .logo a:link, .all .logo a:visited, .all .logo a:hover, .all .logo a:active {
	color:#565656;
	text-decoration:none;
	font-variant:small-caps;
	letter-spacing:2pt;
}

.all .bar {
	height:25px;
	border:1px solid #565656;
	background:#565656;
	padding:2px;
	margin:0;
}

.all .bar-left {
	float:left;
  width:50%;
}

.all .bar-right {
	float:right;
  width:50%;
  text-align:right;
}

.all #bar_bottom {
  margin-bottom:3px;
}

.all .mediaselect-left {
  float:left;
  padding: 0.5em;
  height:230px;
  overflow:auto;
}

.all .mediaselect-right {
  float:right;
  border-left: 1px solid #565656;
  padding: 0.5em;
  width:350px;
  height:230px;
  overflow:auto;
}

.all div.uploadform {
  margin-top: 0.5em;
  border-top: 1px solid #60C860;
}

/* syntax highlighting code */
.all .code .br0	{ color: #66cc66; }
.all .code .co1	{ color: #C0C0C0; font-style: italic; }
.all .code .co2	{ color: #C0C0C0; font-style: italic; }
.all .code .coMULTI	{ color: #C0C0C0; font-style: italic; }
.all .code .es0	{ color: #C0C0FF; font-weight: bold; }
.all .code .kw1	{ color: #b1b100; }
.all .code .kw2	{ color: #D1D1D1; font-weight: bold; }
.all .code .kw3	{ color: #FFC0FF; }
.all .code .kw4	{ color: #993333; }
.all .code .kw5	{ color: #C0C0FF; }
.all .code .me0	{ color: #006600; }
.all .code .nu0	{ color: #cc66cc; }
.all .code .re0	{ color: #C0C0FF; }
.all .code .re1	{ color: #C0C0FF; }
.all .code .re2	{ color: #C0C0FF; }
.all .code .re4	{ color: #009999; }
.all .code .sc0	{ color: #00bbdd; }
.all .code .sc1	{ color: #ddbb00; }
.all .code .sc2	{ color: #009900; }
.all .code .st0	{ color: #FF8080; }

.all {margin:12px 20px}
#punwrapfoot {margin:12px 20px}
div.inlineform {
display: inline;
}