/* COLOUR SCHEME */
body{color:#333}
#wrapper{background-color:#F1F1F1;border-color:#DEDFDF}
.leftcol{background-color:#F1F1F1}
.rightcol,#footer{border-left-color:#DEDFDF;background-color:#F1F1F1}
#nav{border-left-color:#006FC9;background-color:#0066B9}
.leftcol h3{background-color:#D1D1D1;color:#006FC9}
.leftcol ul{color:#B0C3D3}
blockquote,div.codebox{background-color:#f9f9f9}
.newsinfo{border-bottom-color:#B0C3D3}
a:link,a:visited{color:#005CB1}
a:hover{color:#B42000}
#nav a:link,#nav a:visited{color:#FFF}
#nav a:hover{color:#FFF}
/* LOGO/TITLE */
spa{newsitemfloat:left;display:block;border-width:.6em;margin-right:.8em;border-style:solid}
span.newsitem{border-color:#E6E6E6 #DEDEDE #DADADA #E2E2E2}
